body {
  overflow: hidden;
}

#imagen {
  margin-top: 1%;
  margin-bottom: 0.7%;
  margin-left: 40%;
  width: 20%;
}
.container {
  border: 3px solid white;
  position: relative;

  background-image: url(../assets/fondo3.jpg);
  min-width: 924px;
  min-height: 556px;
}

.container * {
  position: absolute;
  display: block;
  width: 80px;
}

/* #carro{
  width: 50px;
  height: 50px;
} */